<%- include('includes/head.ejs', {formCSS: true, gridCSS: true, indexCSS: true}) %>

<body>
<%- include('includes/navigation.ejs', {activePath: 'user'}) %>


<%- include('includes/script.ejs') %>
</body>
</html>