<%- include('includes/head.ejs', {formCSS: false, gridCSS: true, indexCSS: true}) %>

<body>
<%- include('includes/navigation.ejs', {activePath: ''}) %>
<div class="errorPage text-center">
    <h1><%= code %></h1>
    <h3>PAGE NOT FOUND!!!</h3>
</div>


<%- include('includes/script.ejs') %>

</body>
</html>