<%- include('includes/head.ejs', {formCSS: false, gridCSS: true, indexCSS: true}) %>

<body>
<%- include('includes/navigation.ejs', {activePath: '/'}) %>
<h1><%= title %></h1>
<p>SheCodes-Africa assessment test - API Infrastructure to handle automated payment reminder.</p>

SIGN UP ? SIGN IN


<%- include('includes/script.ejs') %>
</body>
</html>