<header>
    <nav class="topnav" id="myTopnav">
        <a href="/" class="<%= activePath === '/' ? 'active' : '' %>">Home</a>
        <a href="javascript:void(0);" class="icon" onclick="navView()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
</header>
