<%- include('../includes/head.ejs', {formCSS: true, gridCSS: false, indexCSS: true}) %>

<body>

<div class="auth">
    <h2>Sign Up</h2>

    <form method="POST" action="/auth/register">
        <label for="fname" class="auth-label"><b>First Name</b></label>
        <input type="text" name="firstName" id="fname" placeholder="Enter your name..." class="form-control">
        <br>
        <label for="lname" class="auth-label"><b>last Name</b></label>
        <input type="text" name="lastName" id="lname" placeholder="Enter your surname..." class="form-control">
        <br>
        <label for="email" class="auth-label"><b>Email</b></label>
        <input type="email" name="email" id="email" placeholder="Enter your email..." class="form-control">
        <br>
        <label for="phone" class="auth-label"><b>Phone</b></label>
        <input type="tel" name="phone" id="phone" placeholder="enter your phone number..." class="form-control">
        <br>
        <label for="password" class="auth-label"><b>Password</b></label>
        <input type="password" name="password" id="password" placeholder="******" class="form-control">
        <br>
        <button type="submit" class="btn-primary mx-auto w-50">Register</button>

        <div class="text-center">
            <small>Don't have an account? <a href="/auth/login">Login.</a></small>
        </div>
    </form>
</div>

<%- include('../includes/script.ejs') %>
</body>
</html>